<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>InvoiceManager</title>
	<link rel="stylesheet" href="/static/styles/create_invoice.page.css" />
	<link rel="stylesheet" href="/static/styles/styles.css" />
</head>

<body>

	<nav class="navbar">
		<a href="/customers" class="customers">Αγοραστές</a>
		<a href="/products" class="products">Προϊόντα</a>
		<div class="invoice-wrapper">
			<a href="/makeaninvoice" class="invoice">Έκδοση Παραστατικού</a>
			<div class="invoice-suggestions"></div> <!-- suggestions will appear here -->
		</div>
	</nav>

	<form method="POST" action="/invoice/create" enctype="multipart/form-data">

		<!-- ===== Header ===== -->
		<fieldset class="header">
			<legend>Επικεφαλίδα Παραστατικού</legend>
			<label>Σειρά: <input type="text" name="invoiceHeader.series" value="{{.Info.Invoiceinfo.Series }}"></label><br>
			<label>AA: <input type="text" name="invoiceHeader.aa" value="{{.Info.Invoiceinfo.Aa }}"></label><br>
			<label>Τύπος: <input type="text" id="invoiceType" name="invoiceHeader.invoiceType"
					value="{{.Info.Invoiceinfo.Invoicetype }}"></label><br>
			<div id="invoiceType-suggestions" class="suggestions"></div>
		</fieldset>
		<!-- ===== Seller (Issuer) ===== -->
		<fieldset>
			<legend>Πωλητής</legend>
			<label>Κωδικός: <input type="text" name="seller.codeNumber" value="{{.Info.User.CodeNumber}}"></label><br>
			<label>Όνομα: <input type="text" name="seller.name" value="{{.Info.User.Name}}"></label><br>
			<label>ΔΟΗ: <input type="text" name="seller.doi" value="{{.Info.User.DOI}}"></label><br>
			<label>ΓΕΜΗ: <input type="text" name="seller.gemi" value="{{.Info.User.GEMI}}"></label><br>
			<label>Τηλέφωνο: <input type="text" name="seller.phone" value="{{.Info.User.Phone}}"></label><br>
			<label>Κινητό_Τηλέφωνο: <input type="text" name="seller.mobile_phone"
					value="{{.Info.User.Mobile_Phone}}"></label><br>
			<label>Email: <input type="text" name="seller.email" value="{{.Info.User.Email}}"></label><br>
			<label>ΑΦΜ: <input type="text" name="seller.vatNumber" value="{{.Info.User.VatNumber}}"></label><br>
			<label>Χώρα: <input type="text" name="seller.country" value="{{.Info.User.Country}}"></label><br>
			<label>Παρακλάδι: <input type="number" name="seller.branch" value="{{.Info.User.Branch}}"></label><br>
			<label>Τύπος Οντότητας: <input type="number" name="seller.entityType" value="{{.Info.User}}"></label><br>

			<fieldset>
				<legend>Διεύθηνση Πωλητή</legend>
				<label>Δρόμος: <input type="text" name="seller.address.street"
						value="{{.Info.User.Address.Street}}"></label><br>
				<label>Αριθμός: <input type="text" name="seller.address.number"
						value="{{.Info.User.Address.Number}}"></label><br>
				<label>Πόλη: <input type="text" name="seller.address.city" value="{{.Info.User.Address.City}}"></label><br>
				<label>Τ.Κ.: <input type="text" name="seller.address.postalCode"
						value="{{.Info.User.Address.PostalCode}}"></label><br>
			</fieldset>
		</fieldset>

		<!-- ===== Buyer (Counterpart) ===== -->
		<fieldset>
			<legend>Αγοραστής</legend>
			<label>Κωδικός: <input type="text" id="customersCode" name="buyer.codeNumber" required></label><br>
			<label>Όνομα: <input type="text" id="customersName" name="buyer.name" required></label><br>
			<div id="customers-suggestions" class="suggestions"></div>
			<label>ΔΟΗ: <input type="text" id="customersDOI" name="buyer.doi"></label><br>
			<label>ΓΕΜΗ: <input type="text" id="customersGEMI" name="buyer.gemi"></label><br>
			<label>Τηλέφωνο: <input type="text" id="customersPhone" name="buyer.phone"></label><br>
			<label>Κινητό_Τηλέφωνο: <input type="text" id="customersMobile_Phone" name="buyer.mobile_phone"></label><br>
			<label>Email: <input type="text" id="customersEmail" name="buyer.email"></label><br>
			<label>ΑΦΜ: <input type="text" id="customersVatNumber" name="buyer.vatNumber" required></label><br>
			<label>Χώρα: <input type="text" id="customersCountry" name="buyer.country"></label><br>
			<label>Παρακλάδι: <input type="number" id="customersBranch" name="buyer.branch"></label><br>
			<label>Τύπος Οντότητας: <input type="number" id="customersEntityType" name="buyer.entityType"></label><br>

			<fieldset>
				<legend>Διεύθηνση Αγοραστή</legend>
				<label>Δρόμος: <input type="text" id="customersAddressStreet" name="buyer.address.street"></label><br>
				<label>Αριθμός: <input type="text" id="customersAddressNumber" name="buyer.address.number"></label><br>
				<label>Πόλη: <input type="text" id="customersAddressCity" name="buyer.address.city"></label><br>
				<label>Τ.Κ.: <input type="text" id="customersAddressPostalCode" name="buyer.address.postalCode"></label><br>
			</fieldset>
		</fieldset>


		<!-- ===== Diakinisi ===== -->
		<fieldset class="diakinisi">
			<legend>Διακίνηση</legend>
			<label>Ημερομηνία Αποστολής: <input type="text" name="invoiceHeader.dispatchDate"></label><br>
			<label>Ώρα Αποστολής : <input type="text" name="invoiceHeader.dispatchTime"></label><br>
			<label>Αριθμός Οχήματος: <input type="text" name="invoiceHeader.vehicleNumber"></label><br>
			<label>Σκοπός Διακίνησης: <input type="text" name="invoiceHeader.movePurpose"
					value="{{.Info.Invoiceinfo.MovePurpose }}"></label><br>
			<!-- ===== Dieythinsi Apostolea ===== -->
			<div class="diakinisi-container">
				<fieldset>
					<legend>Διεύθυνση Αποστολέα</legend>
					<label>Οδός: <input type="text" name="invoiceHeader.otherDeliveryNoteHeader.loadingAddress.street"
							value="{{.Info.User.Address.Street}}"></label><br>
					<label>Αριθμός: <input type="text" name="invoiceHeader.otherDeliveryNoteHeader.loadingAddress.number"
							value="{{.Info.User.Address.Number}}"></label><br>
					<label>T.K.: <input type="text" name="invoiceHeader.otherDeliveryNoteHeader.loadingAddress.postalCode"
							value="{{.Info.User.Address.PostalCode}}"></label><br>
					<label>Πόλη: <input type="text" name="invoiceHeader.otherDeliveryNoteHeader.loadingAddress.city"
							value="{{.Info.User.Address.City}}"></label><br>
					<label>Εγκατάσταση: <input type="text" name="invoiceHeader.otherDeliveryNoteHeader.startShippingBranch"
							value="{{.Info.User.Branch}}"></label><br>
				</fieldset>
				<!-- ===== Dieythinsi Paralipti ===== -->
				<fieldset>
					<legend>Διεύθυνση Παραλήπτη</legend>
					<label>Κωδικός Υποκαταστήματος: <input type="text" id="branchCode"
							name="invoiceHeader.otherDeliveryNoteHeader.subcompanycode"></label><br>
					<div id="branchcompany-suggestions" class="suggestions"></div>
					<label>Όνομα: <input type="text" id="branchName" name="branchName"></label><br>
					<label>Οδός: <input type="text" id="branchAddStreet"
							name="invoiceHeader.otherDeliveryNoteHeader.deliveryAddress.street"></label><br>
					<label>Αριθμός: <input type="text" id="branchAddNumber"
							name="invoiceHeader.otherDeliveryNoteHeader.deliveryAddress.number"></label><br>
					<label>T.K.: <input type="text" id="branchAddPostalCode"
							name="invoiceHeader.otherDeliveryNoteHeader.deliveryAddress.postalCode"></label><br>
					<label>Πόλη: <input type="text" id="branchCity"
							name="invoiceHeader.otherDeliveryNoteHeader.deliveryAddress.city"></label><br>
					<label>Εγκατάσταση: <input type="text" id="branchBranch"
							name="invoiceHeader.otherDeliveryNoteHeader.completeShippingBranch"></label><br>
				</fieldset>
			</div>

		</fieldset>

		<!-- ===== Details (Line Items) ===== -->
		<fieldset>
			<legend>Λεπτομέρειες Παραστατικού</legend>
			<div id="invoiceDetails">
				<div class="line-item">
					<label>Όνομα Προϊόντος: <input type="text" id="product_name_input-0"
							name="invoiceDetails[0].name" required></label><br>
					<div id="product-suggestions-0" class="suggestions"></div>
					<label>Κωδικός Προϊόντος: <input type="text" autocomplete="off"
							id="product_code_input-0"
							name="invoiceDetails[0].codeNumber" required></label><br>
					<label>Περιγραφή Προϊόντος: <input type="text" id="product_description-0"
							name="invoiceDetails[0].itemDescr" required></label><br>
					<label>Ποσότητα: <input type="number" step="0.01" name="invoiceDetails[0].quantity" required></label><br>
					<label>Μονάδα Μέτρησης: <input type="text" id="product_measurementUnit-0" step="1"
							name="invoiceDetails[0].measurementUnitName"></label><br>
					<label>Κωδικός Μον.Μέτρησης: <input type="number" id="product_measurementUnitCode-0" step="1"
							name="invoiceDetails[0].measurementUnit" required></label><br>
					<label>Καθαρή Αξία Μονάδας: <input type="number" id="product_unit_net_price-0" step="0.01"
							name="invoiceDetails[0].unitNetPrice"></label><br>
					<label>Κατηγορία Φορολόγησης: <input type="text" id="product_vatCategory-0"
							name="invoiceDetails[0].vatCategory" value="8" required></label><br>
					<div id="vatCategory-suggestions" class="suggestions"></div>
					<!-- IncomeClassification -->
					<!-- <label>Τύπος Κατάταξης Εσόδων: <input type="text" autocomplete="off" id="income_classification_type" -->
					<!-- 		name="invoiceDetails[0].incomeClassification.classificationType" -->
					<!-- 		value="{{.Info.Invoiceinfo.IncomeClassificationType }}"></label><br> -->
					<!-- <div id="income-classification-type-suggestions" class="suggestions"></div> -->
					<label>Κατηγορία Κατάταξης Εσόδων :<input type="text" id="income_classification_category"
							name="invoiceDetails[0].incomeClassification.classificationCategory"
							value="{{.Info.Invoiceinfo.IncomeClassificationCat }}" required></label><br>
					<div id="income-classification-category-suggestions" class="suggestions"></div>
					<label>Ποσότητα Κατάταξης Εσόδων : <input type="number" step="0.01"
							name="invoiceDetails[0].incomeClassification.amount"></label><br>
					<!-- it might need extra fields in the expenses classification in the case of a buying invoice IF if i have understood correctly -->
				</div>
			</div>
			<button id="addrowbutton" type="button">Προσθήκη Προϊόντος</button>
		</fieldset>


		<button type="submit">Έκδοση Παραστατικού </button>
	</form>

	<div class="blank">
	</div>
	<!-- <script src="/static/scripts/data.js"></script> -->
	<script type="module" src="/static/scripts/create_deliverynote_invoice.page.js">
	</script>
