<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>InvoiceManager</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/home.page.css" />
  </head>


  <body>

    <nav class="navbar">
			<a href="/customers" class="customers">Customers
			</a>
			<a href="/products" class="products">Products
			</a>
			<a href="/makeaninvoice" class="invoice">Make an invoice
			</a>
    </nav>

    <form class="form" action="/create/customer" id="create-customer-form" method="POST" enctype="multipart/form-data">

              <input type="text" name="codeNumber" id="codeNumber" placeholder="Customer Code">
              <input type="text" name="name" id="name" placeholder="Customer Name">
              <input type="text" name="doi" id="doi" placeholder="Customer DOI">
              <input type="text" name="gemi" id="gemi" placeholder="Customer GEMI">
              <input type="text" name="address.street" id="address.street" placeholder="Address_street"></input> 
              <input type="text" name="address.number" id="address.number" placeholder="Address_number"></input> 
              <input type="text" name="address.city" id="address.city" placeholder="City"></input> 
              <input type="text" name="address.postalCode" id="address.postalCode" placeholder="Postal_code"></input> 
              <input type="text" name="country" id="country" placeholder="Country"></input> 
              <input type="email" name="email" id="email" placeholder="Email"></input> 
              <input type="text" name="phone" id="phone" placeholder="Phone"></input> 
              <input type="text" name="discount" id="discount" placeholder="Discount"></input> 
              <input type="text" name="mobile_phone" id="mobile_phone" placeholder="Mobile_phone"></input> 
              <input type="text" name="branch" id="branch" placeholder="Branch: 0 for basic branch"></input>
              <input type="text" name="vatNumber" id="vatNumber" placeholder="VAT"></input> 
              <input type="number" step="0.01" name="oldBalance" id="oldBalance" placeholder="Υπολοιπο"></input> 
        <button class="submit-btn" type="submit">Add Customer</button>

    </form>
    <div class="line"></div>
    {{range .Customers }}
    <div class="customer-name">
      ONOMA:{{.Name}}
    </div>
    {{if ne .Address nil}}
    {{if and (ne .Address.Street nil) (ne .Address.Number nil)}}
    <div class="customer-add1">
      ODOS 1:{{.Address.Street}}
      ARITHMOS:{{.Address.Number}}
    </div>
    {{end}}
    {{if ne .Address.City nil}}
    <div class="customer-city">
      POLI:{{.Address.City}}
    </div>
    {{end}}
    {{if ne .Address.PostalCode nil }}
    <div class="customer-postal-code">
      T.K.:{{.Address.PostalCode}}
    </div>
    {{end}}
    {{end}}
    <div class="customer-country">
      XORA:{{.Country}}
    </div>
    {{if ne .Email nil}}
    <div class="customer-email">
      E-MAIL:{{.Email}}
    </div>
    {{end}}
    {{if ne .Phone nil}}
    <div class="customer-phone">
      TILEFONO:{{.Phone}}
    </div>
    {{end}}
    {{if ne .Mobile_Phone nil}}
    <div class="customer-mobile-phone">
      KINITO TILEFONO:{{.Mobile_Phone}}
    </div>
    {{end}}
    <div class="customer-VAT">
      AFM:{{.VatNumber}}
    </div>
    <div class="line">
    </div>
    {{end}}


<style>
    .form{
    margin:10px;
    }
.line{
    margin:10px;
    height:2px;
    color:black;
    background-color:black;
    width:vw;
}
    </style>

 <script src="/static/scripts/customer.page.js"></script>
	</body>
