<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>InvoiceManager</title>
  <link rel="stylesheet" href="/static/styles/create_invoice.page.css" />
  </head>


  <body>

    <nav class="navbar">
			<a href="/customers" class="customers">Customers
			</a>
			<a href="/products" class="products">Products
			</a>
			<a href="/makeaninvoice" class="invoice">Make an invoice
			</a>
    </nav>

    <form class="form" action="/create/product" id="create-product-form" method="POST" enctype="multipart/form-data">

              <input type="text" name="name" id="name" placeholder="Product Name"></input> 
              <input type="text" name="codeNumber"  placeholder="Κωδικός προϊόντος"></input> 
              <textarea  name="description" id="description" placeholder="Product Description"></textarea> 
	      <input type="text" name="unitNetPrice" id="price" placeholder="Product Price"></input> 
      <div class="measurementContainer">
	      <input type="text" id="measurementUnitInput" name="measurementUnitCode"placeholder="Μοναδα Μετρησης"></input> 
    <div id="measurementUnitsSuggestions" class="suggestions"></div>
      </div>
	      <input type="text" name="vatCategory" id="vat_category_input" placeholder="Vat Category"></input> 
    <div id="vatCategoriesSuggestions" class="suggestions"></div>

        <button class="submit-btn" type="submit">Add Product</button>

    </form>
    {{range .Products }}
    <div class="product-name">
      ONOMA:{{.Name}}
    </div>
    <div class="product-description">
      parigrafi:{{.Description}}
    </div>
    <div class="product-code">
      KODIKOS:{{.CodeNumber}}
    </div>
    <div class="measurementUnit">
      KODIKOS:{{.MeasurementUnit}}
    </div>
    <div class="unit-price">
      TIMI:{{.Unit_Net_Price}}
    </div>
    <div  class="vatcategory">
      KATIGORIA:{{.VatCategory}}
    </div>
    <div class="line"></div>
    {{end}}


<style>
    .form{
    margin:10px;
    }
.line{
    margin:10px;
    height:2px;
    color:black;
    background-color:black;
    width:vw;
}
    </style>
 <script type="module" src="/static/scripts/product.page.js"></script>

	</body>
