
.suggestions {
  border: 1px solid #ccc;
  max-width: 300px;
  position: absolute;
  background: white;
  z-index: 1000;
  max-height: 300px; 
  overflow-y: auto;  }

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #eee;
}

.blank{
  width:20px;
  height:300px;
}

