.navbar{
  display:flex;
  gap:20px;
}
    .invoice-wrapper {
  position: rve;
}

.invoice-suggestions {
  display: none; /* hidden by default */
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  min-width: 200px;
}

.invoice-suggestions a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.invoice-suggestions a:hover {
  background-color: #eee;
}

.form{
    margin:10px;
    }
    .customer{
      all:unset;
      cursor:pointer;
    }
.line{
    margin:10px;
    height:2px;
    color:black;
    background-color:black;
    width:vw;
}


.suggestions {
  display:flex;
  flex-direction:column;
  border: 1px solid #ccc;
  max-width: 300px;
  position: absolute;
  background: white;
  z-index: 1000;
}

.suggestion-item {
  text-decoration:none;
  color:inherit;
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #eee;
}
