.qr {
  width: 40px;
  height: 40px;
}


img {
  width: 140px;
  height: 140px;
}




.logo {
  width: 140px;
  height: 140px;
}

.invoice-header {
  position: absolute;
  bottom: 0%;
}


body {
  background: black;
}

/*     Seller Info */
/* {{.Invoice.Seller.CodeNumber}} */
/* {{.Invoice.Seller.DOI}} */
/* {{.Invoice.Seller.GEMI}} */
/* {{.Invoice.Seller.Phone}} */
/* {{.Invoice.Seller.Mobile_Phone}} */
/* {{.Invoice.Seller.Email}} */
/* {{.Invoice.Seller.VatNumber}} */
/* {{.Invoice.Seller.Country}} */
/* {{.Invoice.Seller.Branch}} */
/* {{.Invoice.Seller.PostalAddress.Naming}} */
/* {{.Invoice.Seller.PostalAddress.Cellnumber}} */
/* {{.Invoice.Seller.PostalAddress.PostalCode}} */
/* {{.Invoice.Seller.PostalAddress.City}} */
/* {{.Invoice.Seller.Address.Street}} */
/* {{.Invoice.Seller.Address.Number}} */
/* {{.Invoice.Seller.Address.PostalCode}} */
/* {{.Invoice.Seller.Address.City}} */
/* {{.Invoice.Seller.Discount}} */
/* {{.Invoice.Seller.OldBalance}} */
/* {{.Invoice.Seller.NewBalance}} */
/* {{.Invoice.Seller.TotalBalance}} */
/* {{.Invoice.Seller.BankAccounts0.BankName}} */
/* {{.Invoice.Seller.BankAccounts0.IBAN}} */
/**/
/**/
/**/
/* Byer Info */
/* {{.Invoice.Byer.CodeNumber}} */
/* {{.Invoice.Byer.Name}} */
/* {{.Invoice.Byer.DOI}} */
/* {{.Invoice.Byer.GEMI}} */
/* {{.Invoice.Byer.Phone}} */
/* {{.Invoice.Byer.Mobile_Phone}} */
/* {{.Invoice.Byer.Email}} */
/* {{.Invoice.Byer.VatNumber}} */
/* {{.Invoice.Byer.Country}} */
/* {{.Invoice.Byer.Branch}} */
/* {{.Invoice.Byer.Address.Street}} */
/* {{.Invoice.Byer.Address.Number}} */
/* {{.Invoice.Byer.Address.PostalCode}} */
/* {{.Invoice.Byer.Address.City}} */
/* {{.Invoice.Byer.Discount}} */
/* {{.Invoice.Byer.OldBalance}} */
/* {{.Invoice.Byer.NewBalance}} */
/* {{.Invoice.Byer.TotalBalance}} */
/**/
/*     Loading Address info */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.LoadingAddress.Street}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.LoadingAddress.Number}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.LoadingAddress.PostalCode}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.LoadingAddress.City}} */
/**/
/*     DeliveryAddress info */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.DeliveryAddress.Street}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.DeliveryAddress.Number}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.DeliveryAddress.PostalCode}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.DeliveryAddress.City}} */
/* {{.Invoice.InvoiceHeader.OtherDeliveryNoteHeader.DeliveryAddressCode}} */
