.qr {
  width: 40px;
  height: 40px;
}


img {
  width: 140px;
  height: 140px;
}




.logo {
  width: 140px;
  height: 140px;
}

.invoice-header {
  position: absolute;
  bottom: 0%;
}


body {
  background: black;
}
